<h1>Eat a Burger</h1>

<h2>Burgers ready to devour!</h2>

<ul>
  {{#each burgers}}
    <li>
  	   {{!-- <p>id: {{this.id}}</p> --}}
       <p>{{this.burger_name}}</p>
       <button id="devour-btn" type="submit">Devour it!</button>
  	</li>
  {{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="burger" placeholder="Enter your burger name here and click Submit"></textarea>

	<button type="submit">Submit</button>
</form>