<h1>Eat a Burger</h1>

<div class="ready-to-devour">
  <h2>Burgers ready to devour!</h2>
  <ol>
    {{#each burgers}} {{#unless devoured}}
    <li>
      <p>{{this.burger_name}}</p>
      <button data-id="{{this.id}}" class="devour-btn" type="submit">Devour it!</button>
    </li>
    {{/unless}} {{/each}}
  </ol>
</div>

<div class="devoured">

  <h2>Devoured!</h2>
  <ol>
    {{#each burgers}} {{#if devoured}}
    <li>
      <p>{{this.burger_name}}</p>
    </li>
    {{/if}} {{/each}}
  </ol>
</div>

<form>
  <textarea id="burger-text" type="text" name="burger" placeholder="Enter your burger name here and click Submit"></textarea>
  <button class="submit-btn" type="submit">Submit</button>
</form>