<h1>Eat a Burger</h1>

<div class="ready-to-devour">
  <h2>Burgers ready to devour!</h2>

  <ol>
    {{#each burgers}}
    <li>
      {{!--
      <p>id: {{this.id}}</p> --}}
      <p>{{this.burger_name}}</p>
      <button class="devour-btn" type="submit">Devour it!</button>
    </li>
    {{/each}}
  </ol>
</div>

<div class="devoured">

</div>

<form>
  <textarea id="burger-text" type="text" name="burger" placeholder="Enter your burger name here and click Submit"></textarea>
  <button class="submit-btn" type="submit">Submit</button>
</form>